body {
  background:black;
  padding:0;
}
#content {
  margin:-10;
  background-image: url(http://images.nationalgeographic.com/wpf/media-live/photos/000/881/cache/gran-paradiso-unterthiner-snow_88101_990x742.jpg);
  width:990px;
  height:742px;
}
