body {
  background:black;
}
#content {
  background-image: url(http://images.nationalgeographic.com/wpf/media-live/photos/000/884/cache/unterthiner-italy-graian-alps_88466_990x742.jpg);
  width:990px;
  height:742px;
}
